<div class="appFrame">
  <div class="htmlTitle">
    Angular: Reuse Component - Armando Schiavon Dias -
    <a href="mailto:armando.schiavon@gmail.com">armando.schiavon@gmail.com</a>
  </div>
  <div class="htmlExplanation">
    <div class="htmlExplanationBar noselect" (click)="showHideExplanation()">
      ( Click here for <strong>{{showHideWord}}</strong> the exercise explanation )
    </div>
    <div class="htmlExplanationList" [style.display]="showHideStatus">
      This is just another example, to show how I code a simple <strong>"One Page App"</strong>
      using <strong>Angular 4</strong>.<br/>
      You probably found this code through my <strong>CV</strong> or <strong>
      <a href="https://www.linkedin.com/in/armandoschiavondias/" target="_blank">
      LinkedIn</a></strong>.<br/><br/>
      <strong>Mission:</strong> This time, the idea is build a component, reuse it how many times the user need and make it able to exchange data between they.<br/>
      Let's use <strong><a href="https://material.angular.io/" target="_blank">Material Angular</a></strong> to make it looks nice.<br/>
      Click on icons to make it work!<br/>
      This code was created as example purpose.
      <br/><br/>
      Some points that I keep in mind all the time:<br/>
      <ul>
        <li><strong>
          <a href="https://www.cs.helsinki.fi/u/luontola/tdd-2009/ext/ObjectCalisthenics.pdf"
          target="_blank">Object Calisthenics</a></strong> ( Always when possible... )</li>
          <li>I am using <strong>TypeScript</strong> because I choose <strong><a target="_blank" 
            href="https://angular.io/">Angular.io</a></strong> (4.x) and not <strong>
            <a target="_blank" href="https://angularjs.org/">Angularjs.org</a></strong> (1.x).</li>
          <li>I am using <strong>TESlint</strong> ( ESLint for TypeScript Files ):
          This helps a lot with the code's pattern.</li>

      </ul>
        The files are:<br/>
      <ul>
        <li>src/app/app.module.ts (Some changes)</li>
        <li>src/app/app.component.ts (Some code and explanations)</li>
        <li>src/app/app.component.html (The HTML, the main 'Viewer' of this MVC)</li>
        <li>src/app/app.component.css (Some Style)</li>
        <li>src/app/control/control.component.css (More Style)</li>
        <li>src/app/control/control.component.html (HTML of Component where you click to create as many 'teams' you need)</li>
        <li>src/app/control/control.component.ts (TypeScript of Component 'replicator'. Very simple...)</li>
        <li>src/app/control/team/team.component.css (More Style)</li>
        <li>src/app/control/team/team.component.html (HTML of each 'team')</li>
        <li>src/app/control/team/team.component.ts (TypeScript of each 'team'. Here I have Inputs and Outputs to comunication between they...)</li>
      </ul>
    </div>
  </div>
</div>
<app-control></app-control>
